@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600;700&family=Source+Code+Pro:wght@500&display=swap');

html, body {
	margin: 0;
	text-align: left;
	color: #202020;
    background-color: #ffffff;
    /* background-color: #F2F2F2; */
}

h1, h2, h3, h4 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	line-height: 1.85;
	margin: 0 0 0.7em 0;
	letter-spacing: -0.025em;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 50px;
    margin-top: -0.25em;
}

h3 {
	font-size: 40px;
    /* margin-top: -0.25em; */
}

h4 {
	font-size: 28px;
    font-weight: 600;
}

h5 {
    font-size: 24px;
    font-weight: 500;
}

h6 {
    font-size: 18px;
    margin-top: 2em;
}

.h2-md {
    font-weight: 500;
    line-height: 1.4em;
}

.col {
    /* background-color: #004CE0; */
}

#contrast-colour {
    color: #273C9F;
}

a, ol, ul, li {
    text-decoration: none;
	font-family: 'Inter', 'Source Sans Pro', Helvetica, sans-serif;
    line-height: 28px;
}

.link {
    color: #273C9F;
    font-style: italic;
    font-weight: 500;
    text-decoration: underline;
}

.name {
    color: #202020;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 70px;
}

/* .name:hover {
    font-style: italic;
    cursor: pointer;
    transition: 0.1s ease-in;
} */

li {
    font-size: 16px;
}

p {
	margin-top: 1em;
	font-size: 16px;
	font-family: 'Inter', 'Source Sans Pro', Helvetica, sans-serif;
    line-height: 28px;
}

.p-sub {
	margin: -2em 0 0 0;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
}

.p-sub-right {
	margin-top: -1.3em;
    font-family: 'Inter', sans-serif;
    text-align: right;
}

.p-content {
	margin: -0.5em 0 0 0;
    line-height: 28px;
}

.p-bold {
    font-weight: 600;
}

.p-hdr {
	font-weight: 600;
    margin-top: 2em;
}

.header-right {
    text-align: right;
}

.p-small {
	
}

.figure {
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-style: italic;
    color: #666666;
    line-height: 24px;
    margin: 0 0 5em 0;
}

.hdr-sml {
    margin: 1em 0 8.5em 0;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    text-align: center;
    align-content: center;
}

.sub-hdr {
    margin-top: -1.75em;
}

#bg {
    background-color: #f7f7f7;
}

header {
    max-width: 1000px;
	padding: 12em 0 12em 0;
}

/* REVISE */
#about-img {
    padding: 12em 0 12em 0;
}

.about-footer {
    text-align: center;
    margin: 6em 0 6em 0;
}

/* #card-css {
    border-color: #ffffff;
    border-radius: 0px;
} */

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

@media screen and (max-width: 1374px) {
	header {
        margin-top: 4em;
        padding: 8em 0 8em 0;
	}
}

@media screen and (max-width: 1250px) {
	header {
        margin-top: 4em;
        padding: 6em 0 6em 0;
	}
    header .contact {
        margin-top: 4em;
        padding: 6em 0 6em 0;
	}
}

@media screen and (max-width: 1185px) {
	header {
        margin-top: 4em;
        padding: 6em 0 6em 0;
	}
    h1 {
        font-size: 55px;
    }
    
    h2 {
        font-size: 48px;
    }
    h3 {
        font-size: 32px;
    }
}

@media screen and (max-width: 1085px) {
	header {
        margin-top: 4em;
        padding: 6em 0 6em 0;
	}
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 28px;
    }
    .p-sub {
        margin: -1.5em 0 0 0;
    }
}

@media screen and (max-width: 700px) {
	header {
        margin-top: 4em;
        padding: 6em 0 6em 0;
	}
    h1 {
        font-size: 42px;
    }
    
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 26px;
    }
}

footer {
	/* background-color: #b6e4c2c2; */
    font-family: 'Inter', sans-serif;
	text-align: left;
	position: relative;
	bottom: 0;
	left: 0;
	width: 50%;
    padding: 3em 0 5em 12em;
}

.footer-alt {
    position: relative;
    width: 100%;
    padding: 10em 0 0 0;
}

.footer-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #202020;
}

.footer-link:hover {
    /* transition: 0.3s ease-in; */
    /* color: #273C9F; */
    font-style: italic;
}

.footer-div {
    margin: 0 1em 0 1em;
    font-weight: 600;
    font-size: 20px;
}

/* Margin Styling */

.sub-margin {
	margin-top: 3em;
	margin-bottom: -0.45em;
}

.sub-margin2 {
	margin-top: 3em;
}

#mt-1 {
    margin: 1.25em 0 -0.25em 0;
}

.tag {
    border-radius: 60px;
	border: 1.8px solid #202020;
    padding: 0.5em 1em;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #202020;
    /* color: #A8A8A8; */
}

/* FILL */
@media screen and (max-width: 1250px) {
	
}

@media screen and (max-width: 1185px) {
	
}

@media screen and (max-width: 1085px) {
	#mt-1 {
        margin: 1.25em 0 0 0;
    }
}

@media screen and (max-width: 700px) {
	
}

/* Container/Margins */

.next {
	margin-top: 6em;
	width: 100%;
	text-align: center;
}

.container-content {
	position: relative;
	text-align: left;
	margin-top: -22em;
	margin: 0 25em 0 25em;
	padding: 8em 8em 5em 8em;
	/* background-color: #f3d0e6be; */
	column-gap: 2em;
	row-gap: 3em;
}

#max-width-container {
    max-width: 1000px;
}

#img-col {
    padding: 0 12em 0 12em;
}

@media screen and (max-width: 1719px) {
    .container-content {
        margin: 0 20em 0 20em;
	}
    #img-col {
        padding: 0 7em 0 7em;
    }
}

@media screen and (max-width: 1640px) {
	.container-content {
        margin: 0 16em 0 16em;
	}
    #img-col {
        padding: 0 2em 0 2em;
    }
}

@media screen and (max-width: 1399px) {
    .container-content {
        margin: 0 12em 0 12em;
	}
    #img-col {
        padding: 0em;
    }
}

@media screen and (max-width: 1355px) {
	.container-content {
        margin: 0 10em 0 10em;
	}
    #img-col {
        padding: 0em;
    }
}

@media screen and (max-width: 1336px) {
    #img-col {
        padding: 0em;
    }
}

@media screen and (max-width: 1335px) {
    #img-col {
        padding: 0em;
    }
}

@media screen and (max-width: 1105px) {
	.container-content {
        margin: 0 2em 0 2em;
	}
    #img-col {
        padding: 0em;
    }
}

@media screen and (max-width: 1081px) {
	.container-content {
        margin: 0 2em 0 2em;
	}
}

@media screen and (max-width: 1024px) {
    #img-col {
        padding: 0em;
    }
}

@media screen and (max-width: 910px) {
	.container-content {
        margin: 0 2em 0 2em;
	}
}

@media screen and (max-width: 800px) {
	.container-content {
        margin: 0 -6em 0 -6em;
	}
}

.container {
	position: relative;
	display: grid;
	margin-top: -14em;
	padding: 12em;
	/* background-color: #f3d0e6be; */
	column-gap: 2em;
	row-gap: 3em;
}

.container-body {
    margin-bottom: 11em;
}

.grid-item-1 {
    float: right;
}

.grid-item-2 {
    float: left;
    margin-top: 11em;
}

.grid-item-3 {
    float: right;
    margin-top: 11em;
}

.grid-item-4 {
    float: left;
    margin-top: 11em;
}

.current-page {
	/* color: #273C9F; */
    text-decoration: underline;
}

/* Nav */

/* position: absolute;
	top: 0;
	right: 0;
	width: 100%; */

nav {
	position: fixed;
    top: 0;
    padding: 0 2em 0 2em;
    width: 100%;
	/* clear: both; */
	z-index: 1;
    background-color: #ffffff;
}

#nav-right {
	right: 0;
    float: right;
    margin: 0.7em 3em 0 0;
}

nav ul {
	list-style: none;
	/* overflow: hidden; */
    height: auto;
	/* z-index: 1; */
	/* display: block; */
	/* margin-right: 20em; */
}

nav li {
	float: left;
    
}

nav li a {
	display: block;
	font-size: 14px;
    font-weight: 500;
	font-family: 'Inter', sans-serif;
	color: #202020;
	text-align: center;
    margin: 0 0 0.8em 0;
	padding: 1em 1.2em;
	line-height: auto;
    height: auto;
	text-decoration: none;
	/* margin-top: 20em; */
}

nav li a:hover {
	/* color: #273C9F; */
    font-style: italic;
	transition: 0.1s ease-in;
}

nav span {
	display: none;
	z-index: 2;
}

/* Menu */

/* .brand-btn {
    font-size: 24px;
    font-weight: 600;
	font-family: 'Inter', sans-serif;
    color: #202020;
} */

.brand {
	border-radius: 60px;
	border: 1.8px solid #202020;
	color: #202020;
	cursor: pointer;
	display: inline-block;
    font-style: italic;
    font-size: 16px;
	font-weight: 500;
	/* height: 2.7em; */
	line-height: 2em;
	min-width: 4em;
	margin: 1.2em 0 0 1.2em;
    font-family: 'Inter', sans-serif;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.brand:hover {
    color: #202020;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.menu-icon {
	/* display: inline-block; */
	cursor: pointer;
}

.menu-main {
	display: block;
}

#menu {
	display: none;
}

.menu-content {
    display: none;
}

@media screen and (max-width: 1375px) {
    nav {
        padding: 0 2em 0 2em;
    }
}

@media screen and (max-width: 1200px) {
    #nav-left {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    nav {
        padding: 0 2em 0 2em;
    }
}

@media screen and (max-width: 600px) {
    nav {
        padding: 0 2em 0 2em;
    }

	nav li a {
		/* -webkit-transform: rotate(180deg); */
		margin-right: 20em;
	}
	nav span {
		display: block;
	}
	.menu-main {
		display: none;
	}
	#menu {
		display: block;
	}
	.menu-content {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: -1;
		top: 0;
		right: 0;
		background-color: #ffffff;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
        padding-left: 3em;
		text-align: left;
        /* Set width/size of white side bar */
		margin-right: -2.8em;
		margin-top: 0em;
	}
}

.line-1, .line-2, .line-3 {
	width: 25px;
	height: 2px;
	background-color: #575757;
	margin: 5px 0;
	transition: 0.4s;
}

.change .line-1 {
	-webkit-transform: rotate(-45deg) translate(-4.25px, 4.25px);
	transform: rotate(-45deg) translate(-4.25px, 4.25px);
}

.change .line-2 {
	opacity: 0;
}

.change .line-3 {
	-webkit-transform: rotate(45deg) translate(-5.5px, -6px);
	transform: rotate(45deg) translate(-5.5px, -6px);
}

/* @media screen and (max-width: 600px) {
	nav li a {
		display: none;
		float: none;
	}
	nav span {
		display: block;
		width: 28px;
		height: 2px;
		margin-bottom: 6px;
		position: relative;
		background: #575757;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
	}
}

@media screen and (max-width: 600px) {
	nav.responsive {
		position: absolute;
	}
	nav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
		transition: transform 0.5s ease-in-out;
	}
	nav.responsive a {
		float: none;
		display: block;
		background-color: rgba(226, 189, 220, 0.623);
	}
} */

/* Image/Video */

.image {
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	margin-top: 1em;
	border-radius: 0px;
	display: block;
	width: 100%;
	max-width: 1000px;
}

.self-image {
	border: 0;
	position: relative;
}

.self-image img {
	margin-top: 1em;
	border-radius: 6px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-width: 400px;
	min-width: 300px;
}

.signature {
    height: 250px;
    width: auto;
}

.img-md {
    height: 310px;
    width: auto;
}

@media screen and (max-width: 800px) {
    .signature {
        height: 200px;
        width: auto;
    }
}

.img-center {
	border: 0;
	position: relative;
}

.img-center img {
	border-radius: 0;
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	min-width: 400px;
}

.img-preview {
	border: 0;
	position: static;
}

.img-preview img {
	/* border-radius: 20px; */
	display: inline-block;
	margin: 0 auto;
	width: 100%;
    height: auto;
	/* max-width: 900px;
	min-width: 300px; */
}

.align-preview {
    /* padding-top: 20em; */
	/* margin-top: 5em; */
}

/* @media screen and (max-width: 1385px) {
    .align-preview {
        margin-top: -7em;
    }
}

@media screen and (max-width: 1250px) {
    .align-preview {
        margin-top: -4em;
    }
}

@media screen and (max-width: 885px) {
    .img-preview img {
        width: 85%;
    }
    .align-preview {
        margin-top: -5em;
        margin-bottom: -3em;
    }
}

@media screen and (max-width: 460px) {
    .img-preview img {
        width: 90%;
    }
    .align-preview {
        margin-top: -5em;
        margin-bottom: -4em;
    }
} */

.vid-center {
	display: block;
	margin: 0 auto;
}

/* Buttons */

.main-btn {
	border-radius: 60px;
	border: 1.8px solid #202020;
	color: #202020;
	cursor: pointer;
	display: inline-block;
    font-style: italic;
	font-weight: 500;
	height: 2.7em;
	line-height: 2.7em;
	min-width: 5em;
	margin: 0.5em 0.2em 0.5em 0;
	padding: 0 2em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.main-btn:hover {
    color: #202020;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.btn-small {
	border-radius: 0px;
	border: 1.8px solid #202020;
	color: #202020;
	cursor: pointer;
	display: inline-block;
	font-weight: 500;
	height: 2em;
	line-height: 2em;
	min-width: 3em;
	margin-top: 0.5em;
	margin: 0.3em;
	padding: 0 2em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.btn-small:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.contact {
	text-align: left;
}

#about-margin {
    margin-right: 30em;
}

@media screen and (max-width: 1500px) {
    #about-margin {
        margin-right: 20em;
    }
}

@media screen and (max-width: 1200px) {
    #about-margin {
        margin-right: 14em;
    }
}

@media screen and (max-width: 950px) {
    #about-margin {
        margin-right: 7em;
    }
}

@media screen and (max-width: 780px) {
    #about-margin {
        margin-right: 0em;
    }
}

#go-to-top {
	text-decoration: none;
	color: #202020;
	font-size: 3em;
	font-weight: 300;
	position: fixed;
	bottom: 0;
	right: 0;
    margin: 0 1em 1em 0;
	cursor: pointer;
}

#img-hover {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

#img-hover:hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

/* .overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(219, 201, 201);
	overflow-x: hidden;
	transition: 0.5s;
  }
  
  .overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
  }
  
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #575757;
	display: block;
	transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
	color: #ffffff;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
  } */


/* Mobile View */
@media screen and (min-width: 1080px) {
    .mobile-view {
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    .desktop-view {
        display: none;
    }
    .mobile-view {
        display: block;
        margin: 0;
        height: 100vh;
    }
    .alert-mobile {
        margin: -3em 0 0 0;
        font-size: 18px;
    }
}